html,
body {
	font-family: 'Merriweather', sans-serif !important;
	overflow-x: hidden;
	font-size: 16px;
	color: rgb(255, 255, 255);
	scroll-padding: 50px;
	background-color: #333333;
	scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

p {
	font-family: 'Lato', sans-serif !important;
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif !important;
}

button {
	font-family: 'Lato', sans-serif !important;
}

a {
	text-decoration: none;
}
a:hover{
  color: skyblue;
}
ul{
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  padding: 28px 20px;
  z-index: 50;
  background-color: rgb(4, 41, 38);
}


.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2% 0 4%;
  gap: 20px;
}

.nav-links > a{
  color: white;
}

.navItems p {
  margin: 0; 
}

.navItems .nav-links {
  display: flex;
  gap: 20px; 
}
nav a:hover {
  color: #1c0dec;
}

nav p {
  margin-bottom: -2%;
}

nav.navItems p>a {
  color: rgb(54, 255, 4);
  font-weight: bold;
  font-size: 1.3em;
}

nav.navItems p>a:hover {
  color: yellowgreen;
}

i.fa-bars {
  color: rgb(255, 255, 255);
  height: 17px;
  width: 17px;
  margin: 0 10px 0 15px;
  font-weight: bolder;
}

i.fa-times {
  color: white;
  font-size: 1.5em;
  position: absolute;
  top: 15px;
  right: 30px;
}

nav.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 75%;
  padding-left: 25px;
  background-color: #061725;
  color: white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 30px;
  align-items: left;
  padding-top: 80px;
  transition: transform 500ms ease-in;
}

nav.mobile-menu a {
  color: white;
  font-size: 20px;
}

nav.mobile-menu a:hover {
  color: #1c0dec;
}

nav.mobile-menu a::after {
  content: '';
  background-color: white;
  height: 1px;
  width: 100%;
  opacity: 25%;
  display: block;
  margin-top: 10px;
}


.hidden {
  transform: translateX(-100%);
}

.slider {
  height: 90vh;
  background-color: rgb(4, 41, 38);
  background-image: url('./images/image.jpeg');
  background-size: contain;
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
	margin-top: 73px;
}
.slider > h1{
  font-weight: bolder;
  font-size: 2.5em;
  color: rgb(30, 255, 0);
}
.slider p{
  font-weight: 700;
  font-size: 1.1em;
  color: rgb(255, 255, 255)
}

.slider a{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 15px;
  margin-top: 20px;
  font-size: 1em;
  font-weight: bold;
  border-radius: .6em;
  transition: all 200ms ease;
}
.slider a:hover{
  background-color: yellowgreen;
  color: black;
}



.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

section {
  margin: 3px 0;
  padding: 50px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section > h2 {
  color: #2980b9;
  margin-bottom: 25px;
  text-align: center;
}


.about{
  background-color: #061725;
  background-image: url('./images/image_3.jpeg');
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  background-attachment: fixed;
  padding: 25px 0 50px 25px;
  font-size: 1.2em;
}

.about > h1{
  text-align: center;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: 50px;
}
.about ul li{
  margin: 15px 0;
}
.about ul li::before{
  content: '✅';
  margin-right: 10px;
}

.projects{
  background-color: #032b0d;
  background-image: url('./images/image_1.jpeg');
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  color: white;
  height: 40vh;
  padding-left: 25px;
  font-size: 1.2em;
}

.project-item{
  margin-top: 40px;
}
.project-item h3{
  font-size: 1.5em;
}
.project-item p{
  padding-left: 30px;
}

.contact p,
.projects p,
.goals p {
  line-height: 1.6;
}

.gallery {
  text-align: center;
  background-color: #061725;
}

.gallery-container {
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 30px;
	padding: 10px;
}

.gallery-container img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-container img:hover {
  transform: scale(1.05);
}

.contact{
  background-color: #072b0a;
  padding-left: 50px;
}

footer {
  background-color: rgb(4, 41, 38);;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 1px;
}
footer a{
  color: white;
}

.footer-container{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 10px;
}

footer > p::before{
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background-color: white;
  margin-bottom: 35px;
  opacity: 75%;
}
.footer-social > div{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.footer-links > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

/* MEDIA QUERIES FOR BREAKPOINTS */

@media (max-width: 645px) {
  .navbar .navItems div.nav-links{
    display: none;
  }

  nav p {
    margin-bottom: unset;
  }

  nav.navItems p>a {
    font-size: 1em;
  }
  .navItems{
    padding: 0 1% 0 8%;
  }
  .slider{
    height: 50vh;
    text-align: center;
  }
  .slider > h1{
    font-weight: bolder;
    font-size: 1.5em;
  }
  .slider p{
    font-size: .8em;
  }
  .about, .projects{
    padding-left: 10px;
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .gallery-container{
    place-items: center;
  }
}

@media (min-width: 645px) {

  nav.mobile-menu {
    display: none;
  }

  i.fa-bars {
    display: none;
  }
}
